/* all UI elements go here */
.uiContainer {
	text-align: center;
}
	.uiContainer > * {
		vertical-align: top;
	}

/* stats box */
.userStatsContainer {
	display: inline-block;
	width: 116px;
}
	.userStatsContainer .stat {
		display: inline-block;
	}

/* lottery box */
.lotteryTicket {
	display: inline-flex;
	flex-wrap: wrap;
	border: 1px solid black;
	padding-left: 4px;
	padding-top: 4px;
	width: 300px;
}
	.lotteryBox {
		border: 1px solid black;
		padding: 4px;
		margin-right: 4px;
		margin-bottom: 4px;
		width: 16px;
		height: 16px;
		text-align: center;
		font-weight: bold;
		background: #ddd;
		cursor: pointer;
	}
		.lotteryBox.highlight {
			background: yellow;
		}

/* buttons */
.ticketButtonContainer {
	display: inline-block;
	vertical-align: top;
}
	.ticketButtonContainer button {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		cursor: pointer;
	}

/* show game results */
#resultsContainer {
	display: block;
	height: 35px;
	margin-bottom: 10px;
	font: bold italic 30px serif;
	color: #555;
}
	#resultsContainer.win {
		color: gold;
		text-stroke: 1px black;
		animation: pulseText 1s infinite;
	}
	@keyframes pulseText {
		0%   { color: rgb(170, 170, 0); }
		50%  { color: rgb(230, 230, 0); }
		100% { color: rgb(170, 170, 0); }
	}

/* virtual canvas 'screen' for animation */
#screen {
	display: block;
	border: 2px solid black;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}